{% extends 'base.html' %}
{% block content %}
<h1 class="flexCenter">Entertainment News</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for new in news %}
  <div v-for="new in news" class="col">
      <div class="card">
          {% if new.urlToImage != "N/A" %}
          <img class="card-img-top h-50 w-50" src="{{ new.urlToImage }}" width="100%" height="500px"/>

          {% else %}
          {% load static %}
          <img src="{% static 'images/noimage.png' %}" alt="" width="auto" height="250px"
              class="d-inline-block align-text-top" />
          {% endif %}
          <div class="card-body">
              {% if user.is_authenticated %}
              <a href="{{ new.url }}">
                  <h5 class="card-title fw-bold">{{ new.headline }}</h5>
              </a>
              {% else %}
              <h5 class="card-title fw-bold">{{ new.headline }}</h5>
              <small>SignUp/Login to get news link</small>
              <p></p>
              {% endif %}
              {% if new.description != "N/A" %}
              <p class="card-text">{{ new.description }}</p>
              {% endif %}
              {% if new.date != "N/A" %}
              <small class="card-text">Published on:{{ new.date }}</small>
              {% endif %}
          </div>
      </div>
  </div>
  {% endfor %}
    </div>
{% endblock content %}